<span class="badge">@ViewBag.QuantityCart</span>
<style>
    .badge{
        background-color:gray;
        color:white;
        
        margin-left:-10px;
        margin-bottom:20px;
    }
</style>
